In [0]:
auto_data = spark.sql('select * from default.automobile_data')

In [0]:
auto_data.show()

In [0]:
auto_data_subset = spark.sql('select make, `body-style`, price, horsepower from default.automobile_data')

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql('select make, `body-style`, price, horsepower from default.automobile_data where price > 20000')

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql('select make, `body-style`, price, horsepower from default.automobile_data where make = "audi"')

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql('select make, `body-style`, price, horsepower from default.automobile_data limit 5')

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql("""select make, `body-style`, price, horsepower 
                                from default.automobile_data where `body-style` = "sedan" and price < 10000""")

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql("""select make, `body-style`, price, horsepower 
                                from default.automobile_data order by price""")

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql("""select make, `body-style`, price, horsepower 
                                from default.automobile_data order by make, horsepower desc""")

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql("""select make, count(*) 
                                from default.automobile_data group by make order by make""")

display(auto_data_subset)

In [0]:
auto_data_subset = spark.sql("""select `body-style`, avg(price) 
                                from default.automobile_data group by `body-style`""")

display(auto_data_subset)